.error {
    border: 1px solid red;
    background-color: #ff6666;
    color: red;
}

.success {

    border: 1px solid black;
    background-color: red;

}

.statusDate {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 0;
    color: #d4d4d4;
}

button.viewMore {
    text-transform: uppercase;
    font-size: 14px;
    border: 0;
    padding: 5;
    font-weight: bold;
    color: white;
    letter-spacing: 0.6;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #ffd100;
}

.name {
    color: #aac2ff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;

}

.modal-dialog {
    width: 95%;
    height: 100%;
    margin: 20px;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
.modal-header {
    padding: 20px;
    border-bottom: 1px solid #ffffff;
    background-color: #7fb1e5;
}

.modal-title {
    margin: 0;
    /* line-height: 1.42857143; */
    text-align: center;
    text-transform: uppercase;
    font-size: 30px;
    color: white;
    font-weight: 900;
    letter-spacing: 0.05em;
}

.descriptionQuote{
    font-family: 'Merriweather', serif;
    font-size: 15px;
}